.git
.gitignore
.env
.env.*
!.env.example
.devcontainer/*.env
.codex
.ssh
.npmrc
auth.json
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/build
.idea
.vscode
*.log
